.speaker {
    margin-bottom : 44px;
}

.speaker__info {
    margin-top : 88px;
}

.speaker-info {
    border         : 1px solid #dfe2e5;
    border-radius  : 5px;
    text-align     : center;
    padding-bottom : 22px;
}

.speaker-info__photo {
    border-radius  : 50%;
    height         : 130px;
    margin         : -66px 0 22px 0;
    vertical-align : top;
}
