.schedule {
    margin-bottom : 44px;
    width         : 100%;
}

.schedule:last-child {
    margin-bottom : 0;
}

.schedule th,
.schedule td {
    padding-bottom : 22px;
    vertical-align : top;
}

.schedule-header {
    line-height : 44px;
}

.schedule-header__title {
    color         : #648880;
    font-size     : 24px;
    width         : 20%;
    padding-right : 45px;
    text-align    : right;
}

.schedule-header__date {
    color : #a9b2b9;
    width : 40%;
}

.schedule-timeslot {
    color          : #a9b2b9;
    font-size      : 14px;
    font-weight    : 400;
    padding-top    : 22px;
    padding-right  : 45px;
    text-transform : uppercase;
    width          : 20%;
    text-align     : right;
}

.schedule-event {
    border-top  : 1px solid #dfe2e5;
    padding-top : 21px;
    width       : 40%;
}

.schedule-event:first-of-type {
    padding-right : 15px;
}

.schedule-event:last-of-type {
    padding-left : 15px;
}

.schedule-event:only-of-type {
    padding-left  : 0;
    padding-right : 0;
}

.schedule-event__title {
    margin-bottom : 0;
}

.schedule-event__link {
    color : #888;
}

.schedule-event--secondary {
    color : #a9b2b9;
}


